.rubik{
    font-family: Rubik, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.karla{
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.link::after {
    left: 50%;
    transform: translateX(-50%);
}

.link:hover::after {
    width: 100%;
}

.active-link {
  color: #3B8640; /* verde tipo Tailwind (green-500) */
}

@keyframes floatArrow {
    0%, 100% { 
        transform: translateY(0); 
        opacity: 0.7; 
    }
    50% { transform: translateY(10px); 
        opacity: 1; 
    }
}

.scroll-anim {
    animation: floatArrow 1.5s ease-in-out infinite;
}